.form-control {
  font-family: inherit;
}

.weather-icon {
  margin: 10px 0;
  height: 80px;
  width: 80px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 80px;
  line-height: 1;
  font-weight: 600;
  margin-left: 10px;
}

.temperature-container {
  align-items: center;
}

.units {
  color: #212121;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  top: -34px;
  text-align: start;
  line-height: 1;
}

canvas {
  margin: 10px 0;
}

.col {
  flex: 1 0;
}

.WeatherForecast {
  margin-top: 20px;
  padding-bottom: 50px;
  text-align: center;
  color: #482759;
}

.forecast-temperature {
  color: #482759;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}

.forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.5;
}

.small {
  font-size: small-font-size;
  font-weight: font-weight-normal;
  text-align: left;
}